{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": true
}
